<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfuture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.myfuture.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.parse.anywall.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
     The following permission is not required to use
     Google Maps Android API v2, but is recommended.
    -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--
IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
to match your app's package name + ".permission.C2D_MESSAGE".
-->
    <permission android:protectionLevel="signature"
        android:name="com.myfuture.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.myfuture.permission.C2D_MESSAGE" />
    <application
        android:name="com.myfuture.MyFutureApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name="com.myfuture.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.myfuture.MapActivity"
            android:label="Map" >

        </activity>
        <activity android:name=".SettingsActivity"
            android:label="Settings">
        </activity>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_key"/>

        <activity android:name="com.myfuture.MapsActivity"
            android:label="@string/title_activity_maps">

        </activity>

        <activity
            android:name=".view.DispatchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".view.ScheduleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MapsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MapsTheme" >
        </activity>
        <activity
            android:name=".view.MyScheduleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.f8.login" >
        </activity>
        <activity
            android:name=".view.TalkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.f8.talk" />
        <activity
            android:name=".view.AlertsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Facebook Integration -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />



        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.myfuture" />
            </intent-filter>
        </receiver>
    </application>

</manifest>

